.featured-images{

img{
  width:100%;
  height:100%;
  object-fit: cover;
  position:relative;


}

 div{
  background:var(--accent);
 }
}

.featured-image__crosswise-container{
 width: 666px;
 height: 210px;
 display:inline-block;
 position:relative;

    &:after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    z-index:5;
    background:rgba(var(--primary-rgb), 0.6);
    width:100%;
    height:100%;
  }
}

.featured-image__square-container{
 width: 202px;
 height: 202px;
 display:inline-block;
 position:relative;

 &:after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    z-index:5;
    background:rgba(var(--primary-rgb), 0.6);
    width:100%;
    height:100%;
  }
}


.featured-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px 15px;
  grid-template-areas:
    "featured-image__crosswise-container featured-image__crosswise-container featured-image__crosswise-container"
    ". . .";
}

.featured-image__crosswise-container { grid-area: featured-image__crosswise-container; }


.featured-video__container{
  position:relative;
  width:100%;
  height:98%;

  .featured-video__overlay{
   width:100%;
   height:100%;
   background:rgba(var(--primary-rgb), 0.6);
   z-index:5;
   position:absolute;
   top:0;
   left:0;
   display:flex;
   justify-content:center;
   align-items: center;
  }

  .featured-video__play{
    width:180px;
    height:180px;
    border-radius: 50%;
    background: var(--accent);
    position:relative;
    cursor:pointer;
    color:var(--white) !important;

    &:hover{
     background: darken(color('accent'), 5%);
    }
    
    i{
     position:absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
    }
  }

  iframe{
   width:100%;
   height:100%;
  }
}

.featured-image__button{
  display:flex;
  justify-content:center;
  align-items: center;
  cursor:pointer;

  &:hover{
     background: darken(color('accent'), 5%);
    }

  a{
    font-family: $serif;
    font-size:1.25rem;
  }
}