/* Header Responsiveness */

 @media #{$device-sm} {
    .logo__container{
       flex-direction: row;
       justify-content:space-between;
       width:85%;
       margin:0 auto;

       .logo-text{
        font-size:1.25rem;
        line-height:1.25rem;
        padding-left: 0.5rem;
        text-align: justify;
       }
       
    }

    .logo__wrapper {
      flex-direction: row;
    }

    .logo-text__first::after{
      content:"\a";
      white-space:pre;
    }


    .logo-img {
      width: 60px !important;
      padding-top:5px;
    }

    .burger{
      display:block;
    }

    .nav-overlay{
      position:absolute;
      width:100%;
      right:0;
      top:0;
      background-color: rgba(0, 0, 0, 0.4);
      transform:translateX(100%);
    }

    nav{
      width: 70%;
      margin-left:auto;
      background:#4A1B1E;
      min-height:100vh;
      border:none;
      transform:translateX(100%);



      .nav-list{
        flex-direction: column;
        justify-content:center;

        .nav-list__item {
          flex-direction: row;

           &:hover>.nav-link {
             padding-right:4px;
           }

          &:hover:after{
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-right: 12px solid $accent;
            padding-left:4px;
          }
        }
      }

      .nav-close{
        margin-left: 20px;
        margin-top: 20px;
        display:inline-block !important;
        color:$white;
        cursor:pointer;
        transition: color 0.3s ease $anim-primary;

        &:hover{
          color:$accent;
        }
      }
      
    }

    body{
      overflow-x:hidden;
    }
    
     .nav--transition {
       transition: transform 0.3s $anim-primary;
     }


 }

 .nav--show{
   transform:translateX(0);
 }

