.offer-item__container{
  width:430px;
  height:286px;
  margin: 30px 0 0 0;
}

.offer__heading{
  color:$white;
  text-align: center;
}

.offer-item__img-link{
  display:inline-block;
  position:relative;
  max-width:100%;
  height:100%;
}

.offer-item__img{
  max-width:100%;
  height:100%;
  object-fit:cover;
  border: 1px solid $primary;
}

.offer-item__title-container{
  background:$primary;
  padding:10px;
  position:absolute;
  width:180px;
  bottom:-18px;
  right:22px;

  .offer-item__title{
    color:$white;
    text-align:center;
  }
}

.offer__items{
  justify-content:space-between;
  width:1366px;
  margin:0 auto;
}