
@mixin btn-background($background){
  @extend %btn;
  background-color:$background;
  color:#fff;
  
  &:hover{
    background:#fff;
    transition: all 0.5s ease;
    color: $accent;
  }
  &:active{
    background:lighten($accent, 12%);
    transition: all 0.3s ease;
    color:$white;
  }
}


//Media query to stack Elements
//Pass in the Media query here
@mixin media-stack-elements($media-query){
  @media #{$media-query}{
    display: block;
    width: 100%;
  }
}